.grid_container{
    display: grid;
    margin: 30px 0px 30px 0px;
    background-color: $lightgrey;
    justify-content: center;
    padding: 20px 20px 20px 20px;

    & .grid_item{
        border-radius: 10px;
        padding-top: 10px ;
        background-color: $lightgrey2;

        & .nosotros{
            text-align: justify;
        }

        & .nosotros_bold{
            font-weight: 800;
        }
    }
}
